@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Montserrat';
}

button {
  overflow: hidden;
  position: relative;
}

button:focus {
  outline: none;
}

button .circle {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.5s ease-out;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}

.crumbs:after {
  content: '/';
  margin-left: 10px;
  margin-right: 10px;
}

.breadcrumbs .crumbs:last-child:after {
  content: '';
  display: none;
}

.moving-left:hover span {
  animation-name: movingLeft;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transition: all;
}

@keyframes movingLeft {
  0%,
  50%,
  100% {
    margin-left: 0px;
  }
  25%,
  75% {
    margin-left: 10px;
  }
}
